/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    float: left;
    border: thin solid black;
  	height: 50%;
    width: 50%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;

}
